<!-- NAV BAR -->
<nav class="navbar navbar-expand-md bg-light navbar-light px-0 mx-2" id="main-nav">
  <a [routerLink]="['home']" class="navbar-brand text-success">Ecotienda</a>
  <button class="navbar-toggler border-success mb-1" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
  <div class="input-group">
    <input class="form-control  border-success" type="text" placeholder="Buscar productos" (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto />
    <div class="input-group-append"><button class="btn btn-outline-success" (click)="buscarProducto(buscarTexto.value)" type="button">Buscar</button></div>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link text-success" [routerLink]="['register']">Registrarse</a></li>
      <li class="nav-item"><a class="nav-link text-success" href="#contacto">Contacto</a></li>
      <li class="nav-item">
        <a class="nav-link btn d-inline-block text-success" href="#"><i class="fas fa-user"></i> Mi cuenta </a>
      </li>

      <li class="nav-item">
        <a class="nav-link  text-success btn d-inline-block" href="#"> <i class="fas fa-shopping-cart"></i> Mi carrito </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="nav nav-fill nav-pills bg-light">
  <li class="nav-item m-2"><a class="nav-link btn btn-outline-success btn-lg p-4" role="button" href="#">Alimentación</a></li>
  <li class="nav-item m-2"><a class="nav-link btn btn-outline-success btn-lg p-4" role="button" href="#">Dietética</a></li>
  <li class="nav-item m-2"><a class="nav-link btn btn-outline-success btn-lg p-4" role="button" href="#">Belleza</a></li>
  <li class="nav-item m-2"><a class="nav-link btn btn-outline-success btn-lg p-4" role="button" href="#">Hogar</a></li>
</ul>

<!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/A-64.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>


    </div>
  </nav>
-->
