<div class="container">
  <h3>
    Producto <small>{{ producto.nombre }}</small>
  </h3>
  <button [routerLink]="['/admin-products']" type="submit" class="btn btn-outline-danger">
    Volver
  </button>
  <button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-success">
    Nuevo producto
  </button>
  <div class="row animated fadeIn fast">
    <div class="col">
      <form action="" (submit)="guardar()" #forma="ngForm">
        <div class="form-group">
          <label for="">Nombre</label>
          <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del producto" required />
        </div>
        <div class="form-group">
          <label for="">Casa</label>
          <select [(ngModel)]="producto.casa" name="casa" class="form-control">
            <option value="Marvel">Marvel</option>
            <option value="DC">DC</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Bio</label>
          <textarea [(ngModel)]="producto.bio" name="bio" type="text" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
            Guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
